.login-form {
  max-width: 200px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 50%;
}

.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 350px;
}
